body{
  font-size: 14px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #4CAF50;
  color: white;
}

table, th, td {
  border: 1px solid black;
}

.woman {
  background-color: #F08080;
  color: white;
}

.man {
  background-color: #DA70D6;
  color: white;
}

.middle {
  background-color: #FFE4B5;
  color: olive;
}
